language: go

go:
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - master

stages:
  - lint
  - test
  - name: deploy
    if: tag IS present

jobs:
  include:
    - stage: lint
      go: 1.10.x
      script:
        - go get github.com/golang/lint/golint
        - golint
        - go vet
    - stage: test
      script:
        - go test -v
    - stage: deploy
      go: 1.10.x
      script:
        - sed -i "s|libraryVersion =.\+$|libraryVersion = $(echo ${TRAVIS_TAG} | tr -d 'v')" gitlab.go
        - git config --global user.email "travis@travis-ci.org"
        - git config --global user.name "Travis CI"
        - git remote add origin-https https://${GITHUB_TOKEN}@github.com/zaquestion/go-gitlab.git
        - git fetch origin-https
        - git checkout master
        - git add gitlab.go
        - git commit -m "(libraryVersion) ${TRAVIS_TAG}"
        - git push origin-https master

matrix:
  allow_failures:
    - go: master
  fast_finish: true


env:
  global:
    secure: fhgA49Ydk/M7erDKMC4gECftUe3+MYRNA3ksvLVMMQ9K0Si+2cj7v3USaXKjs6GA4+r6s2vnwBPDAu8Utuj//qb4nIHrpFPymGqWkOjZ9mpiahJs4URMQRTRC0/Oh3bQJr4dMztaiD3qTbn+TY6KmpI46O0urUhJm9S6q5UpN/n9b7bvx4YtC0dmXkHfrT1w2E2JynJXSV2Ve+Zdvds4UAPcvg9op6fAsB6wrGACO56ueo6hLmKLbuxDIxJ4xWA1V/ZP0vJ3cP7/UAcnCo+S1waq2xt0+CfSddA/K6r40dt2xZ1JmqBln/TgAEf/yD8KdETAtlB9wk21ycDoVxSRfqA6fGIj3w8o0mgf+VnSeOo+FyXwx5t7L+1vCh+mXGOk6Hj9RhlCZrV9R0xwd086e/bKrRsLPU8bafrPkYmmhU3iMhtwxOqfpX1z+M3vuti5im8TlIcol0InK/INf+BwTC5axzB2xBmJIPhCWNlkLGmtVU36VzsDdyQhKBXGRh4ITSxOA2jaJnobxu/rBsSBjxQjm89AcK72iU5WKxSTIi5bajAeTOduGKK2pez6ZgpoWRClO+vz5EWY2lcEPAHPkhQ44U0I0LzQqGJbHH+OOq+e6hsKiYEANbDkFDxU0r3I0e4iPT7xGibhI5+6jG3VXUB8DTv6wQ8m1YFPjpUl8L4=
